label {
  font-weight: bold;
}

.panel.sub-panel {
  border: 1px solid #eee;

  > .panel-heading {
    padding: 5px 8px;

    .panel-title {
      font-size: 16px;
    }
  }

  .dl-horizontal dd {
    line-height: 1.62;
  }
}

.panel-heading.panel-with-actions {
  padding: 0px;

  .panel-title {
    padding: 10px;
    float: left;
  }
}

/* Forms */
.form-control.invalid {
  border-color: #f10011;
}

div.alert {
  margin-top: .3em;
  /*margin-bottom: 0;*/
  padding: 3px 12px;
}

.popover {
  max-width: none;
}